@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Vazirmatn, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  background-image: url(https://img.icons8.com/ios-filled/30/ffffff/expand-arrow--v1.png), linear-gradient(to left, #ffffff 7rem,#407fe5 7rem);
  background-repeat: no-repeat, repeat;
  background-position: left 0.5rem top 50%, 0 0;
  background-size: 1rem auto, 100%;
}
@media (min-width: 768px) { 
  select{
    background-image: url(https://img.icons8.com/ios-filled/30/ffffff/expand-arrow--v1.png), linear-gradient(to left, #ffffff 11rem,#407fe5 11rem);
  }
}